{% extends "base.html" %}

{% block title %}{{ item.name }} - Legends of Taria Wiki{% endblock title %}

{% block content %}
<article class="item-page">
    <h2 class="page-title">
        <img src="/assets/images/items/{{ item.id }}.png" alt="{{ item.name }}" class="title-icon" />
        {{ item.name }}
    </h2>

    <div class="infobox">
        <div class="infobox-header">
            <img src="/assets/images/items/{{ item.id }}.png" alt="{{ item.name }}" class="infobox-image" />
            <h3>{{ item.name }}</h3>
        </div>
        <table>
            <tr>
                <th>Type</th>
                <td>{{ item.item_type | type_link | safe }}</td>
            </tr>
            {% if item.healing %}
            <tr>
                <th>Heals</th>
                <td>{{ item.healing }} HP</td>
            </tr>
            {% endif %}
            {% if item.sell_price %}
            <tr>
                <th>Sell Price</th>
                <td>{{ item.sell_price }} gp</td>
            </tr>
            {% endif %}
            {% if item.stats and item.stats | length > 0 %}
            {% for stat_name, stat_value in item.stats %}
            <tr>
                <th>{{ stat_name }}</th>
                <td>{% if stat_value > 0 %}+{{ stat_value }}{% else %}{{ stat_value }}{% endif %}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if item.requirements and item.requirements | length > 0 %}
            <tr>
                <th>Requirements</th>
                <td>
                    <ul class="requirements-list">
                    {% for req_name, req_value in item.requirements %}
                        <li>{{ req_name }}: {{ req_value }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    {% if item.notes %}
    <section class="notes-content">
    <p>{{ item.notes }}</p>
    </section>
    {% endif %}
    <section class="description">
        <h3>Description</h3>
        <p>{{ item.description | linkify | safe }}</p>
    </section>

    {% if item.acquisition %}
    <section class="acquisition">
        <h3>How to Obtain</h3>
        <p>{{ item.acquisition | linkify | safe }}</p>
    </section>
    {% endif %}
</article>
{% endblock content %}
